@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
	background-image: url("../img/img_comprar/background_ciudades.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/*Cotenido principal*/

#container {
    display: flex;
    flex-direction: row;
}
/*Menú lateral*/

#sidebar {
    width: 200px;
    padding: 20px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
	position: -webkit-sticky;
    position: sticky;
    top: 40px;
}
#sidebar li {
    background-color: rgba(240,240,240,0.0);
	border: 2px solid rgba(188,202,228,0.70);
	backdrop-filter: blur(2px); /*hacerlo borroso al background*/
	border-radius: 30px;
    margin: 2px;
    padding: 20px;
    font-weight: bold;
    font-size: 12px;
}

li{
	transition: transform 0.3s;
}

li:hover{
	transform: scale(1.08);
}
#sidebar, a {
    color: black;
    text-decoration: none;
}
/*Seccion de información de las casas*/
.house-info {
    display: flex;
    flex-direction: row;
    align-items: center;
	padding: 10px 30px;
	background-color: rgba(188,202,228,0.70);
	backdrop-filter: blur(10px); /*hacerlo borroso al background*/
	border-radius: 50px;
	margin-bottom: 10px;
	overflow: hidden;
}
.cont_info{
	padding: 10px;
	width: 100%;
}

/*formato de imagenes*/
.house-image {
    width: 300px;
    height: 350px;
    margin-right: 20px;
    border-radius: 20px;
    transition: transform 0.3s;
}

/*animación de zoom en imagenes de casas*/
.house-image:hover {
    transform: scale(1.08);
}

.house-details {
    flex-grow: 1;
}





/*formato de tablas precios*/
table td {
    padding: 10px 10px 0px 30px;
    border: none;
}
tr {
    width: 100px;
}
.t_tabla {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #722620;
}


/*formato de los espacios*/
.tipos_caracteristicas {
    border: 2px solid #990235;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
}
.cosas_casa, .ubicacion, .precios, .contactos_compra{
    padding-left: 30px;
}
.text_espacios, .text_ubicacion, .text_precios {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #990235;
}


/*imagenes de contactos*/
.img_contactosCompra{
	float: right;
	margin-right: 30px;
	width: 40px;
	height: 40px;
}

/*imagen de contactos*/
.img_ubicacion{
	width: 20px;
	height: 20px;
	transition: transform 0.3s;
}

.img_ubicacion:hover{
	transform: scale(1.5);
}



/*resposive*/

@media (max-width: 600px) {
.house-info {
    flex-direction: column;
}
.house-image {
    max-width: auto;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#container {
    flex-direction: column;
}
#sidebar {
    padding: 10px 180px;
    width: auto;
}
}