@charset "utf-8";
/* CSS Document */


#contenedor, #contenedor1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#formulario {
  text-align: justify-all;
  padding: 50px;
  border-radius: 50px;
  background-color: rgba(188, 202, 228, 0.70);
  backdrop-filter: blur(10px); /*hacerlo borroso al background*/
  max-width: 80%; 
  width: 400px; 
}


h2{
	text-align: center;
}

label{
	color: black;
}

input[type="password"],[type="text"],[type="email"]{
  background-color: azure;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  width: 90%;
}

input[type="submit"],[type="reset"]{
  background-color: rgba(108, 7, 41, 1.00);
  backdrop-filter: blur(2px);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

#text_registro{
	text-decoration: none;
	color : rgba(108, 7, 41, 1.00);
  background-color: rgba(251, 247, 248, 0);
  border: 0;
  font-size: small;
}

#iniciar_sesion{
  background-color: rgba(108, 7, 41, 1.00);
  backdrop-filter: blur(2px);
  border: none;
  transition: transform 0.3s;
}

#iniciar_sesion:hover{
  transform: scale(0.8);
}