@charset "utf-8";
/* CSS Document */

.div1{
	color: #6E2C00 ;
	font-family: Lato,sans-serif;
	box-sizing: border-box;  
	text-transform: uppercase; 
	padding-bottom: 20px;
	text-align: center;
}

.div2{	
	font-family: Lato,sans-serif;
	box-sizing: border-box;  
	padding-bottom: 20px;
	text-align: center;
}

.div4{
	font-family: Lato,sans-serif;
	box-sizing: border-box;  
	padding-bottom: 20px;
	text-align: center;
}


.example {
	padding: 20px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {font-size: 30px; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {font-size: 50px; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {font-size: 50px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {}
}

.example2 {
	padding: 20px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example2 {font-size: 10px; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example2 {font-size: 15px; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example2 {}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example2 {font-size: 25px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example2 {}
}

.example3 {
	padding: 20px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example3 {font-size: 10px; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example3 {font-size: 15px; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example3 {}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example3 {font-size: 25px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example3 {}
}